@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@600&display=swap');

body{
    font-family: 'Noto Sans Mono', monospace;
    font-size: 90%;
    color: black;
    text-align: center;
}

h1{
    font-family: 'Righteous', cursive;
    color: rebeccapurple;
    text-align: center;
}

strong{
    font-size: 100%;
}

hr {
    height: 2px;
    width: 50%;
    background-color: rgb(99, 99, 99);
}